# **Лабораторная работа №4. Анализ данных пассажиров "Титаника"**

In [1]:
import numpy as np
import pandas as pd

1. Создайте DataFarame из файла titanic.csv, в качестве индекса используйте столбец "PassengerId"

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/akobzarev/dap-2024/refs/heads/main/les04/data/titanic.csv', index_col='PassengerId')

2. Просмотрите первые 6 строк

In [3]:
print(df.head(6))

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
6                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
6                                             Moran, Mr. James    male   NaN

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
6                0      0            330877   8.4583   NaN        Q

3. Выведите описание данных

In [4]:
print(df.describe())

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

4. Сколько мужчин / женщин находилось на борту?

In [5]:
gender_counts = df['Sex'].value_counts()
print(f"Мужчин: {gender_counts['male']}")
print(f"Женщин: {gender_counts['female']}")

Мужчин: 577
Женщин: 314

4. Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса

In [6]:
pclass = df['Pclass'].value_counts().sort_index()
print("Общее распределение по классам:")
print(pclass)

print("\nРаспределение по классам для мужчин:")
men_pclass = df[df['Sex'] == 'male']['Pclass'].value_counts().sort_index()
print(men_pclass)

print("\nРаспределение по классам для женщин:")
women_pclass = df[df['Sex'] == 'female']['Pclass'].value_counts().sort_index()
print(women_pclass)

print(f"\nМужчин 2-го класса: {men_pclass[2]}")

Общее распределение по классам:
Pclass
1    216
2    184
3    491
Name: count, dtype: int64

Распределение по классам для мужчин:
Pclass
1    122
2    108
3    347
Name: count, dtype: int64

Распределение по классам для женщин:
Pclass
1     94
2     76
3    144
Name: count, dtype: int64

Мужчин 2-го класса: 108

5. Каковы медиана и среднеквадрати́чное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.

In [7]:
fare_median = round(df['Fare'].median(), 2)
fare_std = round(df['Fare'].std(), 2)
print(f"Медиана Fare: {fare_median}")
print(f"Среднеквадратичное отклонение Fare: {fare_std}")

Медиана Fare: 14.45
Среднеквадратичное отклонение Fare: 49.69

6. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?

In [8]:
young_survived = df[(df['Age'] < 30) & (df['Survived'] == 1)].shape[0]
young_total = df[df['Age'] < 30].shape[0]
young_rate = young_survived / young_total if young_total > 0 else 0

old_survived = df[(df['Age'] > 60) & (df['Survived'] == 1)].shape[0]
old_total = df[df['Age'] > 60].shape[0]
old_rate = old_survived / old_total if old_total > 0 else 0

print(f"Доля выживших младше 30 лет: {young_rate:.2%} ({young_survived}/{young_total})")
print(f"Доля выживших старше 60 лет: {old_rate:.2%} ({old_survived}/{old_total})")
print(f"Люди моложе 30 лет выживали чаще: {young_rate > old_rate}")

Доля выживших младше 30 лет: 40.62% (156/384)
Доля выживших старше 60 лет: 22.73% (5/22)
Люди моложе 30 лет выживали чаще: True

7. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?

In [9]:
women_survived = df[(df['Sex'] == 'female') & (df['Survived'] == 1)].shape[0]
women_total = df[df['Sex'] == 'female'].shape[0]
women_rate = women_survived / women_total

men_survived = df[(df['Sex'] == 'male') & (df['Survived'] == 1)].shape[0]
men_total = df[df['Sex'] == 'male'].shape[0]
men_rate = men_survived / men_total

print(f"Доля выживших женщин: {women_rate:.2%} ({women_survived}/{women_total})")
print(f"Доля выживших мужчин: {men_rate:.2%} ({men_survived}/{men_total})")
print(f"Женщины выживали чаще мужчин: {women_rate > men_rate}")

Доля выживших женщин: 74.20% (233/314)
Доля выживших мужчин: 18.89% (109/577)
Женщины выживали чаще мужчин: True

8. Найдите самое популярное имя среди пассажиров Титаника мужского пола?

In [10]:
def extract_first_name(full_name):
    name_parts = full_name.replace('"', '').split(' ')
    for i, part in enumerate(name_parts):
        if '.' in part:
            if i + 1 < len(name_parts):
                return name_parts[i + 1]
    return full_name

men_df = df[df['Sex'] == 'male']
men_names = men_df['Name'].apply(extract_first_name)
most_common_name = men_names.mode()[0]
print(f"Самое популярное имя среди мужчин: {most_common_name}")

Самое популярное имя среди мужчин: William

9. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:

В среднем мужчины 1-го класса старше 40 лет В среднем женщины 1-го класса старше 40 лет Мужчины всех классов в среднем старше женщин того же класса В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса

In [11]:
age_by_class_sex = df.groupby(['Pclass', 'Sex'])['Age'].mean()
print(age_by_class_sex)


print("\nПроверка утверждений:")
men_1st_class_age = age_by_class_sex.loc[(1, 'male')]
women_1st_class_age = age_by_class_sex.loc[(1, 'female')]

print(f"В среднем мужчины 1-го класса старше 40 лет: {men_1st_class_age > 40}")
print(f"В среднем женщины 1-го класса старше 40 лет: {women_1st_class_age > 40}")


men_older = True
for pclass in [1, 2, 3]:
    men_age = age_by_class_sex.loc[(pclass, 'male')]
    women_age = age_by_class_sex.loc[(pclass, 'female')]
    if men_age <= women_age:
        men_older = False
        break
print(f"Мужчины всех классов в среднем старше женщин того же класса: {men_older}")


class_ages = df.groupby('Pclass')['Age'].mean()
age_decreases = class_ages[1] > class_ages[2] > class_ages[3]
print(f"В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса: {age_decreases}")

Pclass  Sex
1       female    34.611765
        male      41.281386
2       female    28.722973
        male      30.740707
3       female    21.750000
        male      26.507589
Name: Age, dtype: float64

Проверка утверждений:
В среднем мужчины 1-го класса старше 40 лет: True
В среднем женщины 1-го класса старше 40 лет: False
Мужчины всех классов в среднем старше женщин того же класса: True
В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса: True

10. Сравните возраст у спасенных и у погибших пасажиров. Средний возраст погибших выше, верно?

In [12]:
survived_age = df[df['Survived'] == 1]['Age'].mean()
died_age = df[df['Survived'] == 0]['Age'].mean()

print(f"Средний возраст спасенных: {survived_age:.0f}")
print(f"Средний возраст погибших: {died_age:.0f}")
print(f"Средний возраст погибших выше: {died_age > survived_age}")

Средний возраст спасенных: 28
Средний возраст погибших: 31
Средний возраст погибших выше: True